*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lobster', cursive;
    color: white;
}

.container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > .container{
    align-items: center;
    background-color: #68370d00;
    width: 100%;
    height: 90px;
    padding: 0 10%;
}


header h1{
    font-family: 'Great Vibes', cursive;
    font-size: 4vw;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000000;
}

header nav li{
    display: inline;
}

header nav li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    padding: 35px 30px ;
}

header nav li a:hover{
    transition: 2.0s;
    background-color: white;
    color: #68370d;
}

hr .hr{
    margin: 10px 0;
}

section#sobre .container{
    padding-top: 111px;
    position: relative;
    
}

section#sobre > img{
    width: 100%;
    position: absolute;
}

.conteudo{
    width: 100%;
    position: relative;
    height: 600px;
}


section#sobre .container::before {
    content: "";

    width: 100%;
    position: absolute;
    z-index: 2;
    box-shadow: inset 0 30px 150px 100px #ff0000;
}

.conteudo h2{
    margin: 10px auto;
    font-family: 'Great Vibes', cursive;
    font-size: 4vw;
    text-align: center;
    height: 60px;
}

.conteudo p{
    font-size: 2vw;
    color: #fcfcfc;
    text-align: center;
    margin: 1% 15%;
}

.conteudo > a img{
    padding-top: 10px;
    width: 7%;
    margin-left: 46%;
    position: relative;
}

.conteudo a{
    text-align: center;
}

section .container-max{
    padding-top: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

form{
    width: 100%;
}

.container h3{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

form input,
textarea,
button{
    width: 350px;
    display: block;
    margin: 20px 0px;
    height: 50px;
    padding-left: 10px;
    border-color: white;
    border-radius: 10px;
}

textarea{
    padding-top: 10px;
    height: 200px;
}

button{
    cursor: pointer;
    background-image: linear-gradient( #68370d, #2b2118);
    color: white;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border: none;
}

button:hover{
    transition: 2s;
    background-image: linear-gradient(#2b2118,  #68370d);
}

.container-max p,
address
{
    padding-top: 10px;
    font-size: 20px;
}

.container-max a{
    display: block;
    padding: 5px 0px;
    margin: 10px;
    border-radius: 30px;
    background-image: linear-gradient( #bb5d0b, #2b2118);
    color: white;
    font-size: 200%;
    text-align: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient( #2b2118, #68370d);
}

.container-max a:hover{
    background-image: linear-gradient(#68370d,  #2b2118);
    transition: 2.0s;
}

.container-max ul{
    text-decoration: none;
    list-style: none;
    display: block;
}

.container-max ul li{
    display: inline-block;
}

input:focus, textarea:focus{
    transition: 2s;
    outline-color: #68370d;
}

footer{
    background-color: #000000;
    text-align: center;
}

/* Queria deixar mais responsivo, mas, estou atrasado no curso*/














